# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
play-oauthlib/conf/evolutions
play-oauthlib/conf/evolutions/default/1.sql

